:root {
    --gray1: #835845;
    --gray2: #e9ecef;
    --gray3: #dee2e6;
    --gray4: #ced4da;
    --gray5: #adb5bd;
    --gray6: #6c757d;
    --gray7: #495057;
    --gray8: #343a40;
    --gray9: #212529;
    --gray10: #1a1a1a;
    --light: #0c0a0a;
    --dark: #212027;
    --light-red: #987e6d;
    --red: #c3a17b;
    --dark-red: #a6845f;
    --black: #000000;
    --fonts: var(--gray1);
    --fonts-hover: var(--light-red);
    --nav-color: var(--gray1);
    --nav-color-hover: var(--light-red);
    --nav-bg: var(--gra);
    --nav-hover: var(--black);
    
    --btn-bg: var(--gray1);
    --btn-bg-hover: var(--gray2);
    --btn-color: var(--gray10);
    --btn-color-hover: var(--gray1);
    --rm-bg: var(--light-red)
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
 }


 @font-face {
font-family:"blue-goblet";
src:url("https://use.typekit.net/af/82bfb7/00000000000000003b9afc7a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/82bfb7/00000000000000003b9afc7a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/82bfb7/00000000000000003b9afc7a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"blue-goblet";
src:url("https://use.typekit.net/af/f1be08/000000000000000077359756/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f1be08/000000000000000077359756/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f1be08/000000000000000077359756/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"blue-goblet";
src:url("https://use.typekit.net/af/53b98d/00000000000000007735975b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/53b98d/00000000000000007735975b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/53b98d/00000000000000007735975b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"blue-goblet";
src:url("https://use.typekit.net/af/c187d2/000000000000000077359761/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/c187d2/000000000000000077359761/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/c187d2/000000000000000077359761/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}


html,
body,
pre,
code,
kbd,
samp {
  font-family: blue-goblet;
}

canvas{
    font-smooth: never;
    -webkit-font-smoothing : none;
}

body {
    width: 100%;
    height: auto;
    background-color: #cd9074;
    background-position: "100% 0%";
    background-repeat: no-repeat;
    font-size:2.25vw;
    color:#311a10;
}

@media( orientation: portrait ) {
    body {
        font-size:2.0vh;
    }
    .goblin {
        width:50%;
        height:15vh;
    }
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer {
    height: 180px;
    margin: auto;
    width: 100vw;
    text-align:left;
    padding:10px;
    text-align: center;
}

.left {
    
    display:inline-block;
}

.right {
    padding-left:100px;
 
    display:inline-block;
}

a:hover{
    color: var(--nav-color-hover);
    border-radius: 190px
}
a:link {
    color: var(--nav-color);
}

a:active {
    color: var(--nav-color);
}

a {
    color: var(--nav-color);
}

.buttons {
    color:black;
    text-align:center;
    align-items:center;
    justify-content: center;
}

.buttons a {
    width: 25vw;
    height: 5vh;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border-radius: 180px;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-stretch: expanded;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border:1px solid var(--moonshot);
    line-height:5vh;
}

.buttons a:hover {
    background-color: var(--btn-bg-hover);
    color: var(--btn-color-hover);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    width:85%;
    height:100%;
}

#hp  {
    float: right;    
     margin: 0 0 0 15px;
     position: fixed;
     bottom: 0px;
     right: 0px;
     z-index: -1;
}

#minted {
    text-align: center;
}

.goblin {
    width:30vw;
    height:auto;
}

.cl {
    width:100%;
}

#prepare {
    display:block;
}

#connected {
    display:none;
}

#network {
    display:none;
}

